:root{

}

.skills-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 70px;
    gap: 5%;
    row-gap: 20px;
    flex-shrink: 0;
    width: 80%;
    overflow-wrap: normal;
    flex-wrap: wrap;
}

#skill-one{
    width: calc(30%);
    flex-shrink: 0;
    //background: var(--projet-fond-day, #DEDEDE);
    display:block;
    transition: width 0.25s;
}

#skill-one > img {
    display:block;
    margin:auto;
    width:40%;
    margin-bottom: 10px;
    transition: all 0.25s;
}

#skill-one > h1 {
    display:block;
    margin:auto;
    width:fit-content;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#skill-one > span {
    display:block;
    margin:auto;
    width:fit-content;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#skill-one:hover {
    width: calc(30%);
    span, h1{
        color: var(--special-color);
    }
    img {
        width: calc(40% + 5px);
        margin-bottom: 5px;
    }

}

@media (max-width: 950px) {
    .skills-box{
        width: 100%;
    }
}